:root  {
    --background-color : #fff;
    --text-color : #fff;
    --top-bar-bc :#6d2340;
    --author-text-color: #e0b7c6;
    --dots-bc : #6d2340;
    --bubble-bc: #801b4a;
}


*, *::before, *::after {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body {
    margin: 0;
    padding: 0;
    background: var(--background-color);
    font-family: Arial, sans-serif;
    margin:auto;
    

}
.wave-top-img {
  width: 100%;
  height: 400px;

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* jeśli chcesz, by był pod innymi elementami */
  pointer-events: none; /* opcjonalnie, jeśli nie chcesz interakcji */
}

.top-bar {
    position:relative;
    display:flex;
    height: 400px;
    width:100%;

}
.insta{

    right:50px;
}
.twitter{

    right:10px;
}
.icon img{
   position:absolute;
   top:20px;
   width:48px;
   z-index: 4;
}
.author img {
    width:70px;
    position:relative;
    z-index:5;
    bottom:25px;
}

.about-title.me img { 
    height:200px;
    left:calc(50vw - 250px);
}
.about-title.traditional img { 
    left: calc(50vw - 350px);
    width: 700px;
}

.home:not(.disable) { 
    position: absolute;
    left: 20px;
    top: 50px;
    width: 60px;
    height: 60px;
    background: url("../images/przycisk_powrot.png") no-repeat;
    background-size: contain;
    z-index: 5;
}


.author {
    position: absolute;
    right: 30px;
    bottom: 10px;

}

.wave-top {
    width: 100%;
    height: 8vh;
    overflow: hidden;
    background: none;
    position: relative;
    z-index: 2;
    margin-bottom: -20px;
}
.wave-top svg {
    display: block;
    width: 100%;
    height: 60px;
}
.about-title img{ 
    z-index: 3;
    margin:0;
    position:absolute;
    top: 5%;
    left: calc(50vw - 250px);
    width: 500px;
}


.wave-bottom {
    box-sizing: border-box;
    background: url("../images/to_do.svg") no-repeat;
    height: 200px; 
    position: relative;
    left: 0;
    background-size: 100vw 100%; /* rozciąga obrazek na całą szerokość i wysokość */
    background-repeat: no-repeat;

}

.main-content {
    position: relative;
    z-index: 1;
    min-height: 55vh;
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
}
.main-content:not(:has(.bubble)) {
   align-items: center;
}
.oval {
    border: 3px solid #231b1e;
    border-radius: 50% / 47%;
    width: 80%;
    max-width: 550px;
    height: 630px;
    margin: 0 auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    position: relative;
    z-index: 2;
}
.oval img {
    width: 400px;
    height: auto;
}





.bubble-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
.bubble-row .bubble {
  position: relative;
  width: 400px;
  height: 200px;
  background: var(--bubble-bc);
  border-radius: 50% / 50%;
  box-shadow: 8px -8px 0 #231b1e; /* czarne obramowanie */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25vw;
 
}
.bubble-row .bubble:nth-child(even) {
  align-self: flex-end; /* co drugi do prawej */
  margin-right: 25vw;
  box-shadow: 8px 8px 0 #231b1e; /* czarne obramowanie z drugiej strony */

}
.bubble-text img{
  position:relative;

  left:20px;
  margin:auto;
  max-width: 90%;
  height: auto;
  z-index: 4;
  
}

.bubble-row .bubble:nth-child(3) img{
  
   
    height:200px
}
.bubble-text {

  display:flex;
    align-items: center;
    justify-content: center;
}

.bubble::before, .bubble::after, .bubble .bubble-text::before {
  content: '';
   pointer-events: none;
  position: absolute;
  background: #801b4a;
  border: 3px solid #231b1e;
  z-index: 2;
}

.bubble:nth-child(1)::after, .bubble:nth-child(3)::after {

    bottom: 20px;
}
.bubble .bubble-text::before {
    width:36px;
    height:36px;
    border-radius: 50%;
    border:3px solid #231b1e;
    top:80%;
    left:5%;


}

.bubble::before {
   
  width: 36px;
  height: 36px;
  border-radius: 50%;
  top: 0px;
  left: 335px;
}

.bubble::after {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  bottom: 5px;
  right: 30px;
}
.bubble-text a, .bubble-text a:visited, .bubble-text a:hover, .bubble-text a:active {
    text-decoration: none;
    color: #fff
}
 a, a:visited,  a:hover,  a:active {
    text-decoration: none;
    color: #fff
}