@media screen and (max-width: 800px)  {

    .about-title {
        margin-left: 30px!important;
    }
    
}

@media screen and (max-width: 1200px) and (min-width: 751px) {
    .bubble-row .bubble:nth-child(even) {
        
        margin-right: 15vw!important; 
    }
    .bubble {
        margin-left: 15vw!important;
    }
    .gallery .gallery-item {

    margin-left:    15vw    !important;
 
    }
    .gallery .gallery-item:nth-child(even) {

        margin-right: 15vw!important;
    
    }
    .about-title img {
        width: 400px!important;
 
        left:35vw!important;
        top: 10px!important;
    }
}
@media screen and (max-width: 1200px) {
    .about-title img{
        width: 450px!important;
        left:calc(50% - 225px)!important;
        top:10%!important;
        /* top: 10px!important; */
    }
    .wave-top-img, .top-bar {
        height: 350px!important;
        
    }
    .about-title.me img { 
     
        width:300px!important;
        left:calc(50vw - 150px)!important;
        top:0px!important;
    }
}

@media screen and (max-width: 800px) {
    .bubble-row {
        gap:30px!important;
    }
     .about-title img{
        width: 350px!important;
        left:20vw!important;
        
        top: 10px!important;
    }
    .wave-top-img, .top-bar {
        height: 220px!important;
        
    }
}
@media screen and (max-width: 750px) {
    .bubble-row .bubble:nth-child(even) {
        
        margin-right: 5vw!important; 
    }
    .bubble {
        margin-left: 2vw!important;
    }
    .gallery .gallery-item {

        margin-left:    5vw    !important;
 
    }
    .gallery .gallery-item:nth-child(even) {

        margin-right: 5vw!important;
    
    }
}
@media screen and (max-width: 600px) {
    .oval {
        width: 95%!important;
        height: 480px!important;
    }
    .handwritten {
        font-size: 0.85em!important;
    }
 
    
}
@media  (max-width: 500px) {
     .bubble-row .bubble:nth-child(even) {
        margin-right: 5vw!important; 
    }
    .bubble {
        margin-left: 5vw!important;
    }
    .about-title img{
        width: 250px!important;
        left:calc(50% - 125px)!important;
        top:10%!important;
        /* top: 10px!important; */
    }
    .wave-top-img, .top-bar {
        height: 350px!important;
         
    }
    .about-title.me img { 
     
        width:100px!important;
        left:calc(50vw - 50px)!important;
        top:0px!important;
    }
}
@media (max-height: 850px) and (min-height: 601px) {
   .main-content {
       min-height: 77vh!important;
   }
}
@media screen and (max-height: 600px) {
   .main-content {
       min-height: 74vh!important;
       
   }
}

