:root{
     --dots-bc : #6d2340;
}
.dots {
    position: absolute;

    border-radius: 50%;
    background-color: var(--dots-bc);
    pointer-events: none;
    z-index: 1;
}
.dots.big {
    width:160px;
    height:160px;

}
.dots.normal {
    width:120px;
    height:120px;
    
}
.dots.small {
    width:80px;
    height:80px;

}
.dots.mini {
    width:40px;
    height:40px;
    
}